* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans', sans-serif;

}

html:focus-within {
    scroll-behavior: smooth;
}

/* navbar CSS */
.navbar{
    background-color: #26a69a;
}
.navbar .brand-logo {
    font-size: 2.5rem;
}
.navbar .right li a{
    font-size: 1.25rem;
}
@media (max-width: 485px){
    .brand-logo{
        font-size: 1.8rem !important;
    }
    .navbar .material-icons{
        font-size: 1.2rem !important;
    }
}
/* navbar CSS */

/* hero-top CSS */
header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../photos/giving-food.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 200px;
    padding-left: 200px;
}
#hero-top{
    text-align: center;
    line-height: 50%;
    padding-bottom: 80px;
    padding-top: 80px;
}
#hero-title{
    font-size: 3rem;
    padding: 0 10px 0 10px;
    color: #ffffff;
}
#hero-description {
    color: #ffffff;
}
#pickOneTitle{
    text-align: center;
    vertical-align: middle;
}
#pickOneTitle h3{
    padding: 50px 25px;
    margin: 50px;
    text-decoration: underline #26a69a;
}
#linksTitle a{
    color: #000000;
}
#about-us{
    text-align: center;
    vertical-align: middle;
}
#image {
    padding: 50px 25px;
    margin: 50px;
}
#hero-description{
    color: white;
}
/* hero-top CSS */

/* Soup page css */
.shelter-display{
    margin-left: 30%;
    margin-right: 30%;
}
.shelter-name{
    font-size: 1.25rem;
}

.shelter-div{
    background-color: grey;
    text-align: center;
}
/* Soup page css */
