* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans', sans-serif;

}

html:focus-within {
    scroll-behavior: smooth;
}

/* navbar CSS */
.navbar{
    background-color: #26a69a;
}
.navbar .brand-logo {
    font-size: 2.5rem;
}
.navbar .right li a{
    font-size: 1.25rem;
}
@media (max-width: 485px){
    .brand-logo{
        font-size: 1.8rem !important;
    }
    .navbar .material-icons{
        font-size: 1.2rem !important;
    }
}
/* navbar CSS */

/* hero-top CSS */
#hero-top{
    text-align: center;
    line-height: 50%;
    padding-bottom: 80px;
    padding-top: 80px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../photos/giving-food.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 200px;
    padding-left: 200px;
}
#hero-title{
    font-size: 3rem;
    padding: 0 10px 0 10px;
    color: #ffffff;
}
#hero-description {
    color: #ffffff;
}
#hero-description{
    color: white;
}
/* hero-top CSS */

/* About us CSS */
.community-pics{
    width: 350px;
    height: 250px;
}
#about-us{
    text-align: center;
    vertical-align: middle;
}
#mission-parallax{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../photos/kitchen.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    line-height: 50%;
}
#our-mission{
    padding: 25px 50px 50px;
}
/* About us CSS */

/*Search Shelter and Soup CSS */
#search-links{
    text-align: center;
    vertical-align: middle;
}
#search-links a{
    color: #ffffff;
}
#link{
    padding: 17px;
}
#search-parallax{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../photos/shelter.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    line-height: 50%;
}
/*Search Shelter and Soup CSS */

/*footer CSS*/
footer{
    background-color: #26a69a;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

/* Soup page css */
.shelter-display{
    margin-left: 30%;
    margin-right: 30%;
}
.shelter-name{
    font-size: 1.25rem;
}

.shelter-div{
    background-color: grey;
    text-align: center;
}
.shelter-description{
    color: white;
}
#form-style{
    text-align: center;
    vertical-align: middle;
}
/* Soup page css */

/* Shelter page css*/
.soup-description{
    color: white;
}
/* Shelter page css*/